<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block head_extra %}{% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand text-white" href="/">BoardGameDeals</a>
            <form class="form-inline mt-2 mt-md-0" action="/search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="name" name="name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>

    <main role="main">
        <div id="content">{% block content %}{% endblock %}</div>
    </main>

    <footer class="footer">
        <div class="container text-center">
            {% block footer %}<p class="text-muted"><a href="https://github.com/ar0ne/bg_deal">Github</a></p>{% endblock %}
        </div>
    </footer>
</body>
</html>
