<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Find the best deals to buy tabletop games!</title>
</head>

{% raw %}

<body>
    <section id="app-container">
        <header>
            <nav class="navbar navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand text-white" href="/">BoardGameDeals (BY)</a>
                <section class="form-inline mt-2 mt-md-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        v-model="game"
                        v-on:keyup.enter="searchGame"
                    >
                    <button
                        class="btn btn-outline-success my-2 my-sm-0"
                        v-on:click="searchGame"
                        :disabled="!game.length"
                    >Search</button>
                </section>
            </nav>
        </header>

        <main role="main">
            <div id="content">
                <section>
                    <section>
                        <section class="bg-image shadow-1-strong rounded mb-5"
                             v-bind:style="{ backgroundImage: imageUrl }">
                            <h1 id="game-name" class="mb-3 text-center text-white">
                                <span v-if="game_info" >{{ game_info.name }}</span>
                                <span v-else>&nbsp;</span>
                            </h1>

                            <section id="default-search-form" class="container">
                                <section class="jumbotron text-center game-search-container">
                                    <h1>Find the best deals to buy your favoric board game!</h1>
                                    <section class="search-container">
                                        <div class="mb-3">
                                            <input
                                                    autofocus
                                                    autocomplete="off"
                                                    type="text"
                                                    class="form-control"
                                                    v-model="game"
                                                    v-on:keyup.enter="searchGame"
                                            />
                                        </div>
                                        <button
                                                type="submit"
                                                class="btn btn-primary"
                                                v-on:click="searchGame"
                                                :disabled="!game.length"
                                        >
                                            <span v-if="isLoading" class="spinner-border spinner-border-sm"></span>
                                            Search
                                        </button>
                                    </section>
                                </section>
                            </section>
                            <section v-if="game_info">
                                <div class="game_info">
                                    <p>{{ game_info.description }}</p>
                                    <div class="row">
                                        <div class="col-3">
                                            <p>Published: {{ game_info.year_published }}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Playing time: {{ game_info.playing_time }}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Players: {{ game_info.min_players }}-{{ game_info.max_players }}</p>
                                        </div>
                                        <div v-if="game_info.statistics.weight" class="col-3">
                                            <p v-if="game_info.statistics.weight">Complexity rate: {{ game_info.statistics.weight }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <p>BGG: <a target="_blank" v-bind:href="game_info.bgg_url">{{ game_info.bgg_id }}</a>
                                                <span v-if="game_info.bgg_id != game_info.id">/ Tesera: <a target="_blank" v-bind:href="game_info.url">{{ game_info.id }}</a></span>
                                            </p>
                                        </div>
                                        <div class="col-3"><p>Min/max play time: {{ game_info.min_play_time }}-{{ game_info.max_play_time }}</p></div>
                                        <div class="col-3"><p>Average rate: {{ game_info.statistics.avg_rate }}</p></div>
                                        <div class="col-3"><p>Best for number of players: {{ game_info.best_num_players }}</p></div>
                                    </div>
                                    <div v-if="game_info.statistics.ranks && game_info.statistics.ranks.length" class="row">
                                        <div class="col-6">
                                            <p>Ranks:</p>
                                            <li v-for="rank in game_info.statistics.ranks">{{ rank.name }}: {{ rank.value }}</li>
                                        </div>
                                    </div>
                                    <div v-if="searchTime" class="elapsed-search-time">
                                        <span>{{ searchTime }}s</span>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </section>

                    <section v-if="isEmptyResult" class="container">
                        <div class="alert alert-info" role="alert">
                            No available deals! Try to find another game!
                        </div>
                    </section>

                    <section id="search-results" class="container">
                        <div v-if="filteredDeals">
                            <div
                                v-for="result in filteredDeals"
                                class="deal card container-fluid"
                                :key="result.id"
                            >
                                <div class="card-header">
                                    <h5 class="card-title>">
                                        <a class="card-title" target="_blank" v-bind:href="result.url">{{ result.subject }}</a>
                                        <img
                                            class="card-logo"
                                            v-bind:class="result.source + '-logo'"
                                        />
                                    </h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="card-body">
                                                <p v-if="result.description" class="card-text">Description: {{ result.description }}</p>
                                                <p v-if="result.prices && result.prices.length" class="card-text">
                                                    <span v-for="(price, index) in result.prices">
                                                        {{ price | price_and_currency }} <span v-if="index + 1 != result.prices.length">/</span>
                                                    </span>
                                                </p>
                                                <p v-else class="card-text">Price: N/A</p>

                                                <p v-if="result.location" class="card-text">
                                                    Location: {{ result.location.country }} / {{ result.location.city }} / {{ result.location.area }}
                                                </p>
                                                <p v-if="result.owner" class="card-text">Owner: {{ result.owner.name }}
                                                    <span v-if="result.owner.id">(ID: <a v-bind:href="result.owner.url">{{ result.owner.id }}</a>)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div v-if="result.images" class="col-md-1">
                                            <img v-bind:src="result.images[0]" alt="Search result image" class="rounded img-thumbnail float-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </main>

        <footer class="footer">
            <div class="container text-center">
                <p class="text-muted"><a href="https://github.com/ar0ne/bg_deal">Github</a></p>
            </div>
        </footer>
    </section>

    {% endraw %}

    <script type="module" src="{{ url_for('static', path='/main.js') }}"></script>
</body>
</html>
