{% extends "base.html" %}
{% block title %}Search results!{% endblock %}

{% block content %}


<div class="container-fluid">
    {% if game_info %}
    <div class="bg-image p-5 shadow-1-strong rounded mb-5 text-white"
         style="background-image: url('{{ game_info.image }}');">
        <h1 class="mb-3 text-center">{{ game_info.name }}</h1>
        <div class="game_info">
            <p>{{ game_info.description }}</p>
            <div class="row">
                <div class="col-3"><p>Published: {{ game_info.year_published }}</p></div>
                <div class="col-3"><p>Playing time: {{ game_info.playing_time }}</p></div>
                <div class="col-3"><p>Players: {{ game_info.min_players }}-{{ game_info.max_players }}</p></div>
                <div class="col-3"><p>Complexity rate: {{ game_info.statistics.weight }}</p></div>
            </div>
            <div class="row">
                <div class="col-3"><p>BGG: <a href="{{ game_info.url }}">{{ game_info.id }}</a></p></div>
                <div class="col-3"><p>Min/max play time: {{ game_info.min_play_time }}-{{ game_info.max_play_time }}</p></div>
                <div class="col-3"><p>Average rate: {{ game_info.statistics.avg_rate }}</p></div>
                <div class="col-3"><p>Best for number of players: {{ game_info.best_num_players }}</p></div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Ranks:</p>
                    {% for rank in game_info.statistics.ranks %}
                    <li>{{ rank.name }}: {{ rank.value }}</li>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <h3>Game info about <b>{{ name }}</b> not found...</h3>
    </div>
    <br/>
    {% endif %}

    <h2>Search results ({{ results|length }}):</h2>
    <div class="row search_result" id="search_results">
        {% if not results %}
        <div class="container">
            <p>No results. :(</p>
        </div>
        {% endif %}
        {% for result in results %}
            <div class="card container-fluid">
                <div class="card-header">
                    <h5 class="card-title>">
                        <a class="card-title" href="{{ result.url }}">{{ result.subject }}</a>
                        <img class="card-logo {{ result.source }}-logo"/>
                    </h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card-body">
                                <p class="card-text">Description: {% if result.description %}{{ result.description }}{% else %}N/A{% endif %}</p>
                                <p class="card-text">Price: {% if result.price %}
                                    {% for currency, price in result.price %}
                                    {{ "%.2f"|format(price/100) }} {{ currency }}{% if not loop.last %} /{% endif %}
                                    {% endfor %}
                                    {% else %}N/A{% endif %}
                                </p>
                                {% if result.location %}
                                <p class="card-text">Location: {{ result.location.country }} / {{ result.location.city }} / {{ result.location.area }} </p>
                                {% endif %}
                                {% if result.owner %}
                                <p class="card-text">Owner: {{ result.owner.name }} (ID: {{ result.owner.id }})</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            {% if result.images %}
                            <img src="{{ result.images[0] }}" alt="Search result image" class="rounded img-thumbnail float-right">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
