<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
    <title>Find best deals to buy tabletop games!</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand text-white" href="/">BoardGameDeals</a>
            <form class="form-inline mt-2 mt-md-0" action="/search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="name" name="name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>

    {% raw %}

    <main role="main">
        <div id="content">
            <section class="app-container">
                <section id="default-search-form" class="container">
                    <section class="jumbotron text-center">
                        <h1>Find best deals to buy favoric board game!</h1>

                        <section class="search-container">
                            <div class="mb-3">
                                <input
                                        autofocus
                                        autocomplete="off"
                                        type="text"
                                        class="form-control"
                                        v-model="game"
                                        v-on:keyup.enter="searchGame"
                                />
                            </div>
                            <button
                                    type="submit"
                                    class="btn btn-primary"
                                    v-on:click="searchGame"
                            >Find</button>
                        </section>
                    </section>
                </section>
                <section id="search-results" class="container">
                    <div v-if="filteredDeals">
                        <div
                            v-for="result in filteredDeals"
                            class="deal card container-fluid"
                            :key="result.id"
                        >
                            <div class="card-header">
                                <h5 class="card-title>">
                                    <a class="card-title" v-bind:href="result.url">{{ result.subject }}</a>
                                    <img
                                        class="card-logo"
                                        v-bind:class="result.source + '-logo'"
                                    />
                                </h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="card-body">
                                            <p v-if="result.description" class="card-text">Description: {{ result.description }}</p>
                                            <p v-else class="card-text">Description: N/A</p>
                                            <p v-if="result.price" class="card-text">Price: {{ result.price.amount/100 }}
                                                {{ result.price.currency }} / {{ result.price_converted.amount/100 }}
                                                {{ result.price_converted.currency }} </p>
                                            <p v-else class="card-text">Price: N/A</p>
                                            <p v-if="result.location" class="card-text">
                                                Location: {{ result.location.country }} / {{ result.location.city }} / {{ result.location.area }}
                                            </p>
                                            <p v-if="result.owner" class="card-text">Owner: {{ result.owner.name }}
                                                (ID:
                                                <a v-if="result.owner.url" v-bind:href="result.owner.url">{{ result.owner.id }}</a>
                                                <a v-else>{{ result.owner.id }}</a>
                                                )
                                            </p>
                                        </div>
                                    </div>
                                    <div v-if="result.images" class="col-md-1">
                                        <img v-bind:src="result.images[0]" alt="Search result image" class="rounded img-thumbnail float-left">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted"><a href="https://github.com/ar0ne/bg_deal">Github</a></p>
        </div>
    </footer>

    {% endraw %}

    <script type="module" src="{{ url_for('static', path='/main.js') }}"></script>
</body>
</html>
